-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sismil_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tb_alteracoes`
--

DROP TABLE IF EXISTS `tb_alteracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_alteracoes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `militar_id` int(11) NOT NULL,
  `categoria` varchar(50) DEFAULT NULL,
  `tipo_detalhe` varchar(50) DEFAULT NULL,
  `data_fato` date DEFAULT NULL,
  `descricao` text DEFAULT NULL,
  `documento_ref` varchar(100) DEFAULT NULL,
  `qtd_dias` int(11) DEFAULT 0,
  `arquivo_path` varchar(255) DEFAULT NULL,
  `registrado_por` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_alteracoes`
--

LOCK TABLES `tb_alteracoes` WRITE;
/*!40000 ALTER TABLE `tb_alteracoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_alteracoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_arranchamento`
--

DROP TABLE IF EXISTS `tb_arranchamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_arranchamento` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `data_refeicao` date NOT NULL,
  `subunidade` varchar(50) NOT NULL,
  `posto_grad` varchar(50) NOT NULL,
  `numero` varchar(20) DEFAULT NULL,
  `nome_guerra` varchar(100) NOT NULL,
  `cafe` tinyint(1) DEFAULT 0,
  `almoco` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_arranchamento`
--

LOCK TABLES `tb_arranchamento` WRITE;
/*!40000 ALTER TABLE `tb_arranchamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_arranchamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_militares`
--

DROP TABLE IF EXISTS `tb_militares`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_militares` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cpf` varchar(14) NOT NULL,
  `idt_militar` varchar(20) DEFAULT NULL,
  `posto_grad` varchar(20) NOT NULL,
  `numero` int(11) DEFAULT NULL,
  `nome_guerra` varchar(50) NOT NULL,
  `nome_completo` varchar(100) DEFAULT NULL,
  `nome_pai` varchar(100) DEFAULT NULL,
  `nome_mae` varchar(100) DEFAULT NULL,
  `subunidade` varchar(20) DEFAULT NULL,
  `pelotao` varchar(30) DEFAULT NULL,
  `secao` varchar(30) DEFAULT NULL,
  `qmg` varchar(50) DEFAULT NULL,
  `dt_praca` date DEFAULT NULL,
  `dt_nascimento` date DEFAULT NULL,
  `tipo_sanguineo` varchar(5) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `celular_princ` varchar(20) DEFAULT NULL,
  `celular_sec` varchar(20) DEFAULT NULL,
  `nome_resp` varchar(100) DEFAULT NULL,
  `tel_resp` varchar(20) DEFAULT NULL,
  `tel_emergencia` varchar(20) DEFAULT NULL,
  `cep` varchar(10) DEFAULT NULL,
  `endereco` varchar(150) DEFAULT NULL,
  `num_residencia` varchar(10) DEFAULT NULL,
  `bairro` varchar(50) DEFAULT NULL,
  `cidade` varchar(50) DEFAULT NULL,
  `estado` varchar(2) DEFAULT NULL,
  `cat_cnh` varchar(5) DEFAULT NULL,
  `validade_cnh` date DEFAULT NULL,
  `pdf_habilitacao` varchar(255) DEFAULT NULL,
  `tipo_veiculo` varchar(20) DEFAULT NULL,
  `placa` varchar(10) DEFAULT NULL,
  `modelo` varchar(50) DEFAULT NULL,
  `cor` varchar(20) DEFAULT NULL,
  `validade_crlv` date DEFAULT NULL,
  `homologado` tinyint(1) DEFAULT 0 COMMENT '1 = Homologado pelo S2',
  `foto_path` varchar(255) DEFAULT NULL,
  `pdf_nada_consta` varchar(255) DEFAULT NULL,
  `status_ativo` tinyint(1) DEFAULT 1,
  `data_desligamento` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cpf` (`cpf`)
) ENGINE=InnoDB AUTO_INCREMENT=861 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_militares`
--

LOCK TABLES `tb_militares` WRITE;
/*!40000 ALTER TABLE `tb_militares` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_militares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_usuarios`
--

DROP TABLE IF EXISTS `tb_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `identidade` varchar(20) NOT NULL COMMENT 'Login do usuÔö£├¡rio (CPF ou Identidade)',
  `senha_hash` varchar(255) NOT NULL COMMENT 'Senha criptografada (Bcrypt)',
  `role` varchar(20) NOT NULL DEFAULT 'user' COMMENT 'NÔö£┬ível: admin, sargenteacao, s2, user',
  `ativo` tinyint(1) DEFAULT 1 COMMENT '1 = Ativo, 0 = Bloqueado',
  `subunidade` varchar(50) DEFAULT NULL,
  `nome` varchar(100) DEFAULT NULL,
  `posto_grad` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `identidade` (`identidade`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_usuarios`
--

LOCK TABLES `tb_usuarios` WRITE;
/*!40000 ALTER TABLE `tb_usuarios` DISABLE KEYS */;
INSERT INTO `tb_usuarios` VALUES (1,'000.000.000-00','$2y$10$YHtTDQEjxSIr.UCLmj/JD.VN7UD4hMBOtJNzfdjxW3s1TmcMyaOYK','admin',1,NULL,NULL,NULL),(2,'111.111.111-11','$2y$10$xfoWK//S74ivoTi6H3n0lONf1bzIzhZziJ4ql2bmz89Q5BRVjBT2O','s2',1,NULL,NULL,NULL),(3,'222.222.222-22','$2y$10$OvNCvsW7v8Pzp3zPe6eAlOLSFGXCpyc08o.5UlQMhnNLDxkcnLmPC','user',1,'CIA_EQP','Fulano','Cb'),(4,'333.333.333-33','$2y$10$5aWAPjrFw2FfhMZ2iNC/5uF3xIloU.XU68iABlbEokLynkqmB7Uf6','sargenteacao',1,NULL,NULL,NULL),(5,'444.444.444-44','$2y$10$IMZZt6EDk1UV4qFpK8eA7e.2KqafvQrYIVkjVoaT5l.HA.7wQn60W','enc_mat',1,'CCAP',NULL,NULL);
/*!40000 ALTER TABLE `tb_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_veiculos`
--

DROP TABLE IF EXISTS `tb_veiculos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_veiculos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `militar_id` int(11) NOT NULL,
  `tipo_veiculo` varchar(50) DEFAULT NULL,
  `placa` varchar(20) DEFAULT NULL,
  `marca` varchar(50) DEFAULT NULL,
  `modelo` varchar(50) DEFAULT NULL,
  `cor` varchar(30) DEFAULT NULL,
  `emissao_crlv` date DEFAULT NULL,
  `validade_crlv` date DEFAULT NULL,
  `pdf_veiculo` varchar(255) DEFAULT NULL,
  `homologado` tinyint(1) DEFAULT 0,
  `observacao_s2` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_veiculos`
--

LOCK TABLES `tb_veiculos` WRITE;
/*!40000 ALTER TABLE `tb_veiculos` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_veiculos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-01  8:57:48
