Options -Indexes
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "SAMEORIGIN"

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redireciona tudo que começar com /api para o index.php (FrontController)
    # Por exemplo: /sismil/backend/api/militar/search -> /sismil/backend/index.php
    RewriteCond %{REQUEST_URI} api/
    RewriteRule ^api/(.*)$ index.php [L,QSA]
</IfModule>
